<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3>{{ lang.t("footerContactUs") }}</h3>
                    <ul class="contact-us-link">
                        <li>
                            <i class="bx bx-map"></i>
                            <a
                                href="https://www.google.com/maps/place/PostNet+Benmore/@-26.0996479,28.0450338,17z/data=!3m1!4b1!4m14!1m7!3m6!1s0x1e957379ac86f213:0xa76c49fb493883ed!2sPostNet+Benmore!8m2!3d-26.0996528!4d28.0499047!16s%2Fg%2F1tj6lb9r!3m5!1s0x1e957379ac86f213:0xa76c49fb493883ed!8m2!3d-26.0996528!4d28.0499047!16s%2Fg%2F1tj6lb9r?entry=ttu&g_ep=EgoyMDI2MDQyOS4wIKXMDSoASAFQAw%3D%3D"
                                target="_blank"
                                >PostNet Suite 372, Private Bag X9, Benmore
                                2010</a
                            >
                        </li>
                        <li>
                            <i class="bx bx-phone-call"></i>
                            <a href="https://wa.me/+27810772353">+27 810 77 2353</a>
                        </li>
                        <li>
                            <i class="bx bx-envelope"></i>
                            <a href="mailto:contact&#64;elikia-cf.com"
                                >contact&#64;elikia-cf.com</a
                            >
                        </li>
                    </ul>
                    <!-- <ul class="social-link">
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-facebook'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-twitter'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-instagram'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-linkedin'></i></a></li>
                        <li><a href="#" class="d-block" target="_blank"><i class='bx bxl-pinterest-alt'></i></a></li>
                    </ul> -->
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3>{{ lang.t("footerSupportHeading") }}</h3>
                    <ul class="support-link">
                        <li>
                            <a routerLink="/faqs">{{
                                lang.t("footerSupportFaq")
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/contact">{{
                                lang.t("footerSupportContact")
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/">{{
                                lang.t("footerSupportPrivacy")
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/">{{
                                lang.t("footerSupportTerms")
                            }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-2 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3>{{ lang.t("footerUsefulHeading") }}</h3>
                    <ul class="useful-link">
                        <li>
                            <a routerLink="/">{{
                                lang.t("footerUsefulHome")
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/about-us">{{
                                lang.t("footerUsefulAbout")
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/our-programs">{{
                                lang.t("footerUsefulPrograms")
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/contact">{{
                                lang.t("footerUsefulContact")
                            }}</a>
                        </li>
                        <li>
                            <a routerLink="/feedback">{{
                                lang.t("footerUsefulTestimonials")
                            }}</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="single-footer-widget mb-25">
                    <h3>Newsletter</h3>
                    <div class="newsletter-box">
                        <p>
                            To get the latest news and latest updates from us.
                        </p>
                        <form class="newsletter-form">
                            <label>Your e-mail address:</label>
                            <input
                                type="email"
                                class="input-newsletter"
                                placeholder="Enter your email"
                                name="EMAIL"
                            />
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom-area">
        <div class="container">
            <div class="logo">
                <a routerLink="/" class="d-inline-block"
                    ><img src="images/elikia-logo.png" alt="image"
                /></a>
            </div>
            <p>{{ lang.t("footerCopyright") }}</p>
        </div>
    </div>
</footer>

<app-back-to-top />
